.orders_page {
  position: relative;
}

//cancel_reason
.orders_page .cancel_reason_buttons {
  display: flex;
}

.orders_page .cancel_reason_buttons .button {
  white-space: nowrap;
  padding: 5rpx 15rpx;
  margin: 5rpx 5rpx;

  width: fit-content;
  font-size: 30rpx;
  background-color: #fff;
  border-radius: 12rpx;
  color: var(--light-3);
  border: 3rpx var(--light-3) solid;
}

.orders_page .cancel_reason_buttons .choosen {
  background-color: var(--light-3);
  color: #fff;
}

.orders_page .cancel_reason_des .title {
  margin: 10rpx 0 5rpx 5rpx;
}

.orders_page .cancel_reason_des .at-textarea {
  padding: 10rpx;
  padding-bottom: 5rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//tab_page
.orders_page .tab_page .tab_titles {
  //top: calc(var(--nav-bar-height) + var(--search-bar-height)); //*problem:doesn't work here
  //top: calc(12vh + 83rpx)
  z-index: 101;
}

.orders_page .tab_page .tab_content {
  padding-bottom: 180rpx;
}