 

//
.express_info_container .express-items {
  position: relative;
}

.express_info_container .express-items .content {
  display: block;
  margin: 20rpx 10rpx;
  border: 7rpx var(--light-2) solid;
  border-radius: 10rpx;
}

.express_info_container .express-items .content .line_horizontal {
  border-color: var(--light-2);
}

.express_info_container .express-items .content .item {
  padding: 20rpx 20rpx;
}

.express_info_container .express-items .content .item .name {
  width: 7em;
}

.express_info_container .express-items .content .item .value {}

.express_info_container .express-items .content .item .empty_value {
  color: var(--gray-2);
}




.express_info_container .express-items .action_buttons {
  position: absolute;
  top: 0;
  right: 20rpx;
}


//
.express_info_container .choosen .content{
  background-color: var(--light-0);
}