.inside_solitaire_page {
  // margin:  0 12PX;
}


//edit_button
.inside_solitaire_page .edit_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12PX 12PX 0 0;
  color: var(--red-2);
}

.inside_solitaire_page .edit_button .at-icon {
  padding-right: 3PX;
}

//cut_off_button
.inside_solitaire_page .cut_off_button {
  text-align: end;
  margin: 10rpx 15rpx 0 0;
}

.inside_solitaire_page .cut_off_button .mie_button {
  border-color: var(--red-1);
  color: var(--red-1);
}