.add_solitaire_dialog .dialog_content {
  top: 43%;

  height: 60%;
  width: 87%;
  max-width: 100%;
}

.add_solitaire_dialog .dialog_content .content {
  display: flex;
  height: 100%;
}

.add_solitaire_dialog .dialog_content .line_vertical {
  height: 90%;
}