.marked_stations_container {
  width: 100%;
}


//add
.marked_stations_container .at-icon-add-circle {
  color: var(--light-3);
  font-size: 40rpx;
  padding: 15rpx 10rpx;
}

.marked_stations_container .item_choosen .stations_card .mode_mini{
  background-color: var(--light-2);
  border-color:  var(--light-2);
  color:white;
}

//marked_stations_container_mode_large
.marked_stations_container_mode_large {}

.marked_stations_container_mode_large .item {
  margin: 1em 0;
}




//marked_stations_container_mode_mini
.marked_stations_container_mode_mini {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.marked_stations_container_mode_mini .item {}

//dialog
.marked_stations_container .input_dialog .train_station_setter .stations_chooser {
  position: relative;
  top: 20rpx;
}

.marked_stations_container .input_dialog .train_station_setter .stations_chooser {
  z-index: 99;
}

.marked_stations_container .input_dialog .action_dialog_content {
  padding-bottom: 100rpx;
}

//empty_word
.marked_stations_container .grey_word {
  display: flex;
  justify-content: center;
  margin-top: 30rpx;

  width: 100%;
  color: var(--gray-2);
}