.tomato_calendar_page {
  height: 100vh;
}

//layout
.tomato_calendar_page .layout_children {
  height: -webkit-fill-available;
  margin-top: 100rpx;
  // background: antiquewhite;
  position: fixed;
  top: 0;
  margin-bottom: var(--tab-bar-height);
}

.tomato_calendar_page scroll-view {
  height: 100%;
}

//control_button
.tomato_calendar_page .control_button {
  margin: 0 0rpx 0 10rpx;
  display: flex;
  flex-direction: column;
}

.tomato_calendar_page .control_button .at-icon {
  width: fit-content;
  padding: 5rpx;
  color: var(--gray-5);
  font-size: 50rpx;
  font-weight: bold;
}

.tomato_calendar_page .control_button .at-icon:active {
  background: var(--gray-1);
}

//year_month
.tomato_calendar_page .year_month {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 30rpx 30rpx 5rpx 30rpx;
}

.tomato_calendar_page .string {
  margin-right: 10rpx;
  font-size: 35rpx;
}

.tomato_calendar_page .year_month .line_horizontal {
  border-color: var(--gray-5);
  border-width: 3rpx;
}

//days_list 
.tomato_calendar_page .day_list {
  // height: -webkit-fill-available;//*注: 这个真机会失效！！！！
  height: 100%;
  padding: 20rpx;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tomato_calendar_page .day_list .day_item {
  display: flex;
  align-items: baseline;
  width: 50%;
}

.tomato_calendar_page .day_list .day_string {
  position: relative;
  top: 5rpx;
  margin: 0rpx 5rpx 0 0;
  white-space: nowrap;
}

//tomato_icon_wrap
.tomato_calendar_page .day_list .tomatos Image {
  height: 15PX;
  width: 15PX;
}

.tomato_calendar_page .day_list .tomatos .a_list {
  display: flex;
  flex-wrap: wrap;
}
