//toggle_botton
.lottery_draw .toggle_botton {
  height: 75rpx;
  width: 75rpx;
}

//dialog
.lottery_draw .is_drawing .dialog_title .word {
  //flex中子元素只能通过flex属性改变宽度, 直接设置width会无效
  flex: 0 0 7em;
  overflow: hidden;
  text-align: left;
}

.lottery_draw .dialog_content .empty_word {
  margin-top: 90rpx;
  margin-bottom: 100rpx;

  font-size: 35rpx;
  color: var(--gray-2);
}

//image
.lottery_draw .dialog_content .image {
  height: 400rpx;
  width: 400rpx;
}

//shop_card
.lottery_draw .dialog_content .shop_card .card {
  transform: scale(0.9); 
  border-radius: 0;
  margin: 0 -35rpx;
  padding: 10rpx 0;
}

//lottery_again_button
.lottery_draw .dialog_content .lottery_again_button {
  padding-top: 10rpx;
  display: flex;
  align-items: center;

  font-size: 45rpx;
  color: var(--light-3);
}

.lottery_draw .dialog_content .lottery_again_button:active {
  color: var(--light-5);
}

//shop card
.lottery_draw .dialog_content .shop_card .dialog {
  display: none;
}

.lottery_draw .dialog_content .shop_card .card .shop_anno:active {
  background-color: white;
}