 


.shop_products_container_search_bar .at-search-bar{
  position: fixed;
  width: 100vw;
}

.shop_products_container_search_bar .search_ba_place_holder {
 }

.shop_products_container_search_bar .at-search-bar__action {
  background-color: var(--light-5);
}