.tab_bar {
  position: fixed;
  bottom: 0;

  font-size: 30rpx;
}

//button
.tab_bar .button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 100%;
  color: var(--light-3);
}

.tab_bar .mode_buyer .button {
  color: var(--light-3);
  background-color: #fff;
}

.tab_bar .mode_solitaire .button {
  color: var(--light-3);
  background-color: #fff;
}

.tab_bar .mode_seller .button {
  color: var(--light-2);
  background-color: var(--dark-5);
}

.tab_bar .button .at-icon {
  font-size: 70px;
}

.tab_bar .mode_buyer .button_choosen {
  color: var(--dark-2);
  //background-color: var(--light-3);
}

.tab_bar .mode_solitaire .button_choosen {
  color: var(--dark-2);
  //background-color: var(--light-3);
}

.tab_bar .mode_seller .button_choosen {
  color: var(--light-5);
  //background-color: var(--dark-2);
}

//horizontal_bar
.tab_bar .horizontal_bar {
  height: var(--tab-bar-height);
}

.tab_bar .mode_buyer .horizontal_bar {
  background-color: #fff;
}

.tab_bar .mode_solitaire .horizontal_bar {
  background-color: #fff;
}

.tab_bar .mode_seller .horizontal_bar {
  background-color: var(--dark-5);
}

.tab_bar .horizontal_bar .buttons {
  display: flex;

  width: 100vw;
}

//horizontal_bar_hide_mode
.tab_bar .horizontal_bar_hide_mode {
  display: block;
  position: fixed;
  bottom: 35px;
  left: 50px;
  z-index: 1000;

  border: 10rpx var(--light-5) solid;
  border-radius: 100%;
  width: 110rpx;
  height: 110rpx;
  background: var(--light-3);
  opacity: 0.5;
}


//vertical_bar: mode 1
.tab_bar .vertical_bar .buttons .button {
  margin: 20px 0;
  text-align: center;

  height: 120px;
  width: 140px;
  box-shadow: 0 0 0 1px rgba(157, 210, 208, 0.6);
  border: 0.1px rgba(157, 210, 208, 0.2) solid;
  border-radius: 15px;
}

.tab_bar .mode_buyer .vertical_bar .buttons .button {
  color: var(--light-3);
  background-color: #fff;
}

.tab_bar .mode_solitaire .vertical_bar .buttons .button {
  color: var(--light-3);
  background-color: #fff;
}

.tab_bar .mode_seller .vertical_bar .buttons .button {
  color: var(--light-3);
  background-color: var(--dark-5);
}

.tab_bar .vertical_bar .buttons .button_hovered {
  //这里不能直接写.tab_bar .button_hovered否则会被.tab_bar .mode_buyer .vertical_bar .buttons .button盖掉
  box-shadow: 0 0 0 1px rgba(157, 210, 208, 0.6);
  border: 0.1px rgba(157, 210, 208, 0.2) solid;
}

.tab_bar .mode_buyer .vertical_bar .buttons .button_hovered {
  color: #fff;
  background-color: var(--light-3);
}

.tab_bar .mode_solitaire .vertical_bar .buttons .button_hovered {
  color: #fff;
  background-color: var(--light-3);
}

.tab_bar .mode_seller .vertical_bar .buttons .button_hovered {
  color: var(--light-1);
  background-color: var(--dark-2);
}

//
.tab_bar .vertical_bar_mode_1 .buttons {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  bottom: 150px;
  left: 70px;
}

//vertical_bar: mode 2
.tab_bar .vertical_bar_mode_2 .button {
  position: fixed;
}

.tab_bar .curve_button_0 {
  bottom: 150px;
  left: 70px;
}

.tab_bar .curve_button_1 {
  bottom: 310px;
  left: 140px;
}

.tab_bar .curve_button_2 {
  bottom: 480px;
  left: 220px;
}

.tab_bar .curve_button_3 {
  bottom: 635px;
  left: 350px;
}

.tab_bar .curve_button_4 {
  bottom: 800px;
  left: 495px;
}

//solitaire
.tab_bar .mode_solitaire .add_solitaire_button {
  display: flex;
  position: absolute;
  left: 50%;
  top: -30PX;
  transform: translate(-50%, 0);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  z-index: 1;

  color: var(--light-3);
  font-size: 90PX;
  border-radius: 100%;
  background-color: #fff;
}

.tab_bar .mode_solitaire .add_solitaire_button:active {
  color: var(--light-4);
  // background-color: var(--gray-1);
}