page {
  --tab-bar-height: 10vh;
  --nav-bar-height: 12vh;
  --layout-children-height-1: 78vh;
  --layout-children-height-2: 90vh;



  --light-0: #ecf8f8;
  --light-1: #d4eded;
  --light-2: #b4dfde;
  --light-3: #9ed2d0;
  --light-4: #8ec1be;
  --light-5: #68b4b1;

  --dark-1: #85aaaa;
  --dark-2: #73a09f;
  --dark-3: #658e8d;
  --dark-4: #567b7a;
  --dark-5: #436362;

  --gray-1: #f7f7f7;
  --gray-2: #cacaca;
  --gray-3: #ababab;
  --gray-4: #909090;
  --gray-5: #6e6e6e;
  --gray-6: #464646;
  --gray-7: #303030;

  --red-0: #f6c3c3;
  --red-1: #f1a7a7;
  --red-2: #ee8c8c;
  --red-3: #d36e6e;

  --green-0: #e0f4dd;
  --green-1: #c6ddc4;
  --green-2: #9fc19d;
  --green-3: #7ea27b;

}