.my_layout {
  position: relative;
  color: var(--gray-5);
}

.my_layout .layout_children {
  position: relative;
  width: 100vw;
}


//tabbar
.my_layout .tab_bar {
  z-index: 1000;
}

.my_layout .tab_bar_place_holder {
  height: var(--tab-bar-height);
}