.my_orders_page {
  position: relative;
}

//tab_page
.my_orders_page .tab_page .tab_titles {
  z-index: 1;
}

.my_orders_page .tab_page .tab_titles .title_1 {
  color: var(--gray-2);
}

.my_orders_page .tab_page .tab_titles .title_1 .selected {
  color: var(--gray-3);
  border-bottom: solid var(--gray-3) 1px;
}