.multiple_choice_buttons_box {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: fit-content;
}

.multiple_choice_buttons_box .mie_button {
  padding: 15rpx 15rpx;
}

.multiple_choice_buttons_box .at-icon-close-circle {
  position: absolute;
  
  border-radius: 100%;
  color: var(--light-3);
  font-size: 35rpx;
  right: 0;
  top: -5PX;
  background-color: #fff;
}