.date_picker {
  //z-index: 10000;
}

.date_picker .toggle_button {
  display: flex;
  align-items: baseline;

  width: fit-content;
  font-size: 36rpx;
  color: var(--light-3);
}

.date_picker .toggle_button .at-icon-calendar {
  padding: 5rpx;
  font-size: 45rpx;
  display: flex;
  align-items: center;
}


.date_picker .toggle_button:active {
  color: var(--light-4);
}

//calendar
.date_picker .at-calendar__list.flex .flex__item--selected-head.flex__item--selected-tail .flex__item-container {
  background-color: var(--light-3);
}

.date_picker .at-calendar__controller .controller__arrow--right{
   background-color: white;
}.date_picker .at-calendar__controller .controller__arrow--left{
   background-color: white;
}