.shop_card {}

.shop_card .card {
  margin: 20rpx 20rpx;
  padding: 15rpx 0 20rpx 0;
  justify-content: space-around;

  background-color: #fff;
  height: fit-content;
  border-radius: 30px;
  display: flex;

  //  height:800px;
}

.shop_card .card Image {
  margin: auto;
  margin-right: 20rpx;

  height: 130px;
  width: 130px;
  border-radius: 30px;
}

.shop_card .card .shop_content {
  justify-content: center;
  display: flex;
  flex-direction: column;

  width: min-content;
}

.shop_card .card .shop_name {
  color: var(--light-3);
  font-size: 50px;
  margin-top: -8px;
}

.shop_card .card .shop_anno {
  display: flex;
  align-items: center;
  padding: 0 6rpx;
  margin-bottom: 5rpx;

  width: fit-content;
  color: var(--red-1);
  font-size: 25rpx;
  border: 5rpx var(--red-0) solid;
  border-radius: 10rpx;
}

.shop_card .card .shop_anno .word {
  width: fit-content;
  word-break: break-all;
  text-overflow: ellipsis; //超出部分省略号
  display: -webkit-box;
  //*不加这个编译时-webkit-box-orient: vertical;会丢失
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.shop_card .card .shop_anno .at-icon-volume-minus {
  font-size: 30rpx;
}

.shop_card .card .shop_anno:active {
  background-color: var(--gray-1);
}

.shop_card .card .shop_des {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  color: var(--light-3);
  font-size: 30px;

  word-break: break-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}


.shop_card .card .mark_star {
  color: var(--light-3);
  align-self: center;
  margin: 0rpx 15rpx 15rpx 0;

  font-size: 100px;

}