.action_dialog {
  z-index: 1000;
}


.action_dialog .action_buttons {
  padding-top: 20rpx;
}

.action_dialog .action_buttons .type_1  {
  position: relative;
  top: 30rpx;
}

.action_dialog .action_buttons .type_1 .button {
   width: 100%;
  font-size: 40rpx;
}