.solitaire_container {
  padding-top: 8PX;
}

//item
.solitaire_container .solitaire_container_item {
  display: relative;
  padding: 7PX 12PX;

  font-size: 17PX;
  border-bottom: 2PX var(--gray-1) solid;
}

.solitaire_container .solitaire_container_item .solitaire_container_item_title {
  white-space: nowrap;
}

//button
.solitaire_container .final_button {
  position: fixed;
  text-align: center;
  padding: 3PX 0 15PX 0;

  width: 100%;
  bottom: 0;
  color: var(--light-3);
  font-size: 25PX;
  border-top: 3rpx var(--light-3) solid;
  background-color: #fff;
}

// date_and_time
.solitaire_container .date_and_time picker {
  color: var(--light-3);
}

.solitaire_container .date_and_time .at-icon {
  padding: 0 3PX 0 7PX;
  font-size: 20PX;
}

//
.solitaire_container .solitaire_des {
  box-sizing: border-box;
  padding: 18rpx;
  margin: 5PX 10PX;

  height: 300PX;
  font-size: 32rpx;
  line-height: 1.5;
  border-radius: 8rpx;
  border: 1PX var(--gray-2) solid;
  background-color: #FFF;
}

.solitaire_container .not_editing {
  min-height: 60PX;
  height: fit-content;
}

// 
.solitaire_container .solitaire_pick_up_way .tab_page {
  margin-top: 6PX;
  border-top: 3PX var(--light-3) solid;
  border-bottom: 3PX var(--light-3) solid;
}

.solitaire_container .solitaire_pick_up_way .tab_page .tab_titles {
  justify-content: space-around;
  position: relative;
  bottom: 0;
}

.solitaire_container .solitaire_pick_up_way .tab_page .tab_titles .title {
  border-radius: 0;
  border: none;
  height: 20PX;
  font-size: 17PX;
  white-space: nowrap;
  width: fit-content;
}

.solitaire_container .solitaire_pick_up_way .tab_page .tab_titles .selected {
  background: white;
  color: var(--light-5);
  border-bottom: solid var(--light-5) 1rpx;
}

.solitaire_container .solitaire_pick_up_way .express_pick_up .toggle_button {
  padding: 10PX 0 0 10PX;
}

.solitaire_container .pick_up_way_container_action_button {
  display: none
}

.solitaire_container .solitaire_pick_up_way .hidden_item {
  display: none;
}

.solitaire_container .solitaire_pick_up_way .empty_word {
  margin-top: 10PX;
  margin-bottom: 10PX;
}

.solitaire_container .solitaire_pick_up_way .add_button {
  line-height: 1em;
  white-space: nowrap;
  padding: 5PX 0;
  width: 100PX;
  margin: 10PX 5PX;
  border: none;
}